@model Assignment2.Models.OwnerInventory


@{
    ViewData["Title"] = "Reset Stock";
}

<h2>Reset Stock Level</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label>Product ID : </label>
            <label>@Html.DisplayFor(item => Model.ProductID)</label><br>
            <label>Product Name : </label>
            <label>@Html.DisplayFor(item => Model.Product.Name)</label>
            <input type="hidden" asp-for="ProductID" />
            <div class="form-group">
                <label asp-for="StockLevel" class="control-label"></label>
                <input asp-for="StockLevel" class="form-control" />
                <span asp-validation-for="StockLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
